*{
  padding: 0;
  margin: 0;
}

.header{
  background: #0A092D;
  color: #fff;
  width: 100%;
  transition: all 0.5s;
  display: flex;
}

.menu{
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}