*{
    padding: 0px;
    margin: 0px;
}
  
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .home-button {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .home-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .user-button {
    background-color: #09f124;
  }
  
  .admin-button {
    background-color: #def436;
  }
  
  .user-button:hover {
    background-color: #d77ee1;
  }
  
  .admin-button:hover {
    background-color: #dd73f3;
  }