* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .contain {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  main {
    flex-grow: 1;
    padding: 20px;
    /* background-color: #7373b8; Add background to distinguish */
  }
  
  .sidebar {
    background: #0A092D;
    color: #fff;
    height: 100%;
    width: 300px;
    padding-top: 30px;
    transition: width 0.0s ;
  }
  
  .link {
    display: flex;
    color: #ffffff;
    padding: 15px;
    margin-left: 10px;
    gap: 15px;
  }
  
  .link:hover {
    background: #2E3856;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    margin: 10px;
    color: #000;
  }
  
  .active {
    background: #2E3856;
    color: skyblue;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    margin: 10px;
  }
  
  .icon, .link_text {
    font-size: 20px;
  }
  